*.o
*.a
src/*-image
debian/.debhelper/                                                      
debian/files
debian/wsepd-image.debhelper.log
debian/wsepd-image.substvars
debian/wsepd-image/                                                     
extern/*
